{% extends 'base.html.twig' %}

{% block title %}About - Community Library{% endblock %}

{% block body %}
    <h1>About Community Library</h1>
    <p>Community Library is a modern library management system designed to serve our local community.</p>
    <p>We offer a wide selection of books across various genres and topics.</p>
{% endblock %}
