{% extends 'base.html.twig' %}

{% block title %}Contact - Community Library{% endblock %}

{% block body %}
    <h1>Contact Us</h1>
    <p>Email: info@communitylibrary.local</p>
    <p>Phone: +1 (555) 123-4567</p>
    <p>Address: 123 Library Street, City, State 12345</p>
{% endblock %}
