{% extends 'base.html.twig' %}

{% block title %}Home - Community Library{% endblock %}

{% block body %}
    <h1>Welcome to Community Library</h1>
    <p>Your local community library management system.</p>
    <p>Browse our collection of books, discover new authors, and manage your loans.</p>
{% endblock %}

